.jumbotron {

    background-color: rgba(223, 224, 225, 0.89);
    text-align: center;
    border-radius: 0rem;
    padding-top: 135px;
}

#nomeLista {
	
	color: #4ac637;
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 50px;
}

.txtTarefa {
	width: 440px;
	display: inline-block;
}

.prioridade {
	
	width: 150px;
	margin-top: 7px;
	margin-right: 15px;
	float: left;
}

.adicionar {
	
	margin-top: 8px;
	width: 250px;
	
}

.categoria {
	margin-top: 7px;
	width: 200px;
}

.botoes {
	float: right;
}

.botoes button {
	display: inline;
	width: 250px;
}

.creditos {

    text-align: center;

    padding: 15px;
    margin-bottom: 0px;
    margin-top: -32px;
    background-color: white;
}

#interface {

    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

#palnoDeFundo {

    background-image: url(../css/wall-233407_960_720.jpg);
}

#sombreado {

    background-color: #bdbebf;
    width: 600px;
    height: 50px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #6b6b6b;
}

.concluida {

    background-color: #75ff7b;
    text-align: left;
    height: 48px;
    width: 547px;
    margin-left: 1px;
    float: left;

    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

@keyframes concluidaAn {

    from {background-color: #75ff7b}
    to {background-color: #7b71ff}
}


.concluida:hover {

    animation-name: concluidaAn;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 0.3s;
    background-color: #7b71ff;
}


.naoConcluida {

    background-color: #ff5751;
    text-align: left;
    height: 48px;
    width: 547px;
    margin-left: 1px;
    float: left;

    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

@keyframes naoConcluidaAn {

    from {background-color: #ff5751}
    to {background-color: #7b71ff}
}

.naoConcluida:hover {

    animation-name: naoConcluidaAn;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 0.3s;
    background-color: #7b71ff;
}

.remover {

    font-size: 23px;
    cursor: pointer;
}

#checkeBox {

    background-color: white;
    width: 23px;
    height: 23px;
    float: left;
    margin-top: 13px;
    margin-left: 13px;
    margin-right: 10px;
    border: groove;
    text-align: center;
}

#checkeBox span {

    font-size: 25px;
    margin-top: -7px;
    margin-left: -1px;
    color: green;
}

#nomeTarefa {

    height: 48px;
    width: 400px;
    padding-top: 13px;
    display: inline-block;
}

#nomeTarefa p {

    cursor: default;
    margin-left: 10px;

    white-space: nowrap;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;

}

#caixa {

    background-color: white;
    height: 300px;
    width: 650px;
    padding-bottom: 7px;
    overflow: auto;
    border: groove;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#lixeira {

    background-color: #9fa497;
    height: 48px;
    width: 50px;
    text-align: center;
    float: right;
    padding: 13px;
    cursor: pointer;

    border-left: groove;
    border-width: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-right: 2px;
}


@keyframes lixeiraAn {

    from {background-color: #9fa497}
    to {background-color: #ff5751}
}

#lixeira:hover {

    animation-name: lixeiraAn;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 0.3s;
    background-color: #ff5751;
}

#controladorDeTarefas {

    width: 670px;
    margin: 100px auto 20px auto;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 7px;
    background: -webkit-linear-gradient(#adadad, #d6d6d6, #9c9c9c);
    box-shadow: 7px 7px 7px #646464;

}

.listas {
	
	width: 97%;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 8px;
}


#progressBar {

    background-color: rgba(223, 224, 225, 0.60);
    border-radius: 5px;

    height: 20px;
    margin-left: auto;
    margin-right: auto;
    border:2px groove #b4b4b4;
    width: 650px;

}

#progressConcluida {

    background-color: #00b100;
    height: 15.5px;
    margin: 0px;
    padding: 0px;
    border-radius: 4px;
    text-align: center;
    float: left;
}

#progressNaoOcncluida {

    background-color: red;
    height: 15.5px;
    margin: 0px;
    padding: 0px;
    border-radius: 4px;
    text-align: center;
    float: right;
}

#tarefasVazias {

    font-size: 50px;
    color: #9c9c9c;
    font-weight: bold;
    padding-top: 63px;
}

.filtro {

    width: 48%;
    float: right;
    margin-right: 10px;
}

.filtroCateg {
    width: 48%;
    float: right;
    margin-right: 10px;
}

.ordenar {
    width: 48%;
    float: left;
    margin-left: 10px;
}

.busca {

    width: 48%;
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
}

.estatisticas {
    background-color: white;
    margin-top: 100px;
    width: 97%;
    height: 40px;
    padding-top: 3px;
    margin-left: 10px;
    border: groove;
}

.visualizacao {

    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.caixa-dialogo {

    background-color: white;
    position: relative;
    margin: 3% auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 4px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animacaoCaixaDialogo;
    -webkit-animation-duration: 1s;
    animation-name: animacaoCaixaDialogo;
    animation-duration: 1s;
}

@-webkit-keyframes animacaoCaixaDialogo {

    from {opacity: 0}
    to {opacity: 1}
}

@keyframes animacaoCaixaDialogo {

    from {opacity: 0}
    to {opacity: 1}
}

.titulo-dialogo {

    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.titulo-dialogo h2 {

    margin-top: 15px;
}

.fechar {

    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

.fechar:hover, .fechar:focus {

    color: black;
    text-decoration: none;
    cursor: pointer;
}

.atributo {

    font-weight: bold;
    font-size: 20px;
    padding-left: 16px;

}

.corpo-texto {

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#botoes {

    padding: 5px;
    text-align: right;
}

.editar {

    background-color: white;
    border: 1px solid blue;
    font-weight: bold;
}

@keyframes animacaoEditar {

    from {background-color: white; color: black}
    to {background-color: #5370ff; color: white}
}

.editar:hover {

    animation-name: animacaoEditar;
    animation-duration: 0.3s;
    background-color: #5370ff;
    color: white;
    font-weight: bold;
}

.salvar {

    background-color: white;
    border: 1px solid green;
    font-weight: bold;
}

@keyframes animacaoSalvar {

    from {background-color: white; color: black}
    to {background-color: #00bc01; color: white}
}

.salvar:hover {

    animation-name: animacaoSalvar;
    animation-duration: 0.3s;
    background-color: #00bc01;
    color: white;
    font-weight: bold;
}

.cancelar {

    background-color: white;
    border: 1px solid red;
    font-weight: bold;
}


@keyframes animacaoCancelar {

    from {background-color: white; color: black}
    to {background-color: #ff253b; color: white}
}

.cancelar:hover {

    animation-name: animacaoCancelar;
    animation-duration: 0.3s;
    background-color: #ff253b;
    color: white;
    font-weight: bold;
}

#caixa-subtarefas {
	
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	overflow: auto;
    border: groove;
    margin-bottom: 5px;
}

#tabelaSubtarefas {
	margin: 5px auto 5px auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.addSubTarefa {
	width: 50%;
	display: inline-block;
}
